@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(250, 250, 250);
}

.map-container {
    height: 400px;
    }
     
    .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin:20px;
    border-radius: 4px;
    }

    #city:hover,.active{

        background-color: dodgerblue;
        color: white;

    }

    .mapboxgl-ctrl{
        display: none;
    }

    #infoData{
        display: none;
        margin-top: 20px;
        padding: 10px 20px;
        color: dodgerblue;
        font-size: 16px;
        list-style: lower-greek;
        

    }

    .visible{
        display: block !important;;
    }